<div class="animated fadeIn">
    <div class="card">
      <div class="card-header">
        Upload File
      </div>
      <div class="card-body">
        <p>
          Click the button below to upload your DNA or Protein Dataset in FASTA format for Preprocessing. 
        </p>
      </div>

      <div class="card-footer">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <label for="file">Choose File</label>
          <input type="file" name="data" (change)="handleFileInput($event.target.files)" />
          <button type="submit">Upload FASTA File</button>

          <!--uploading file-->
          <div>
            <div *ngIf="error">
              {{ error.message }}
            </div>
            <div *ngIf="uploadResponse.status === 'error'">
              {{ uploadResponse.message }}
            </div>
            <div *ngIf="uploadResponse.status === 'progress'">
                <div class="progress md-progress" style="height: 12px;">
                  <div class="progress-bar bg-success" role="progressbar" ng-show= "True"
                  [style.width.%]="uploadResponse.message" 
                  aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                    {{uploadResponse.message}}%
                  </div>
                  <br><br>
                </div>
            </div>
            <!--Success message for file upload-->
            <div *ngIf="uploadResponse.status==='Created'">
              <span>Dataset Upload Completed Successfully</span>
            </div>
        </div>

        <!--recommending file-->
        <div>
          <div *ngIf="error">
            {{ error.message }}
          </div>
          <div *ngIf="recommendResponse.status === 'error'">
            {{ recommendResponse.message }}
          </div>
          <div *ngIf="recommendResponse.status === 'progress'">
              <div class="progress md-progress" style="height: 12px;">
                <div class="progress-bar bg-success" role="progressbar" ng-show= "True"
                [style.width.%]="uploadResponse.message" 
                aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                  {{recommendResponse.message}}%
                </div>
                <br><br>
              </div>
          </div>
          <!--Display recommended algorithms-->
          <div *ngIf="recommendResponse.status==='Created'">
            <span>Recommended Algorithms:</span>
            <strong>{{recommendResponse.algorithms}}</strong>
          </div>
        </div>
      </form>
      </div>      
    </div>
  </div>
