<div class="container">
  <div class="row justify-content-center"> 
    <div class="card">
        <div class="card-header">
          Phylogenetic Inference and Visualization  Online 
          <small> with GPU accelaeration </small>
        </div>
        <div class="card-body"> 
          <carousel>
            <slide>
              <img src="../../../assets/img/plant_cropped.png" alt="First slide" 
              style="display: block; width: 100%;">
              <div class="carousel-caption d-none d-md-block">
                <h2>Phylogenetic Inference</h2>
              </div>
            </slide>
          </carousel>
          </div>
          <div class="card-footer"> 
            <div class= "row justify-content-center">
              <button class="btn btn-lg btn-primary btn-dark" 
              type="button">Get Started</button>
            </div> 
          </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-sm-6 col-md-4">
      <div class="card">
        <div class="card-header">
            <i class="cui-layers icons font-2xl"></i>Data Preprocessing
        </div>
        <div class="card-body">
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
        </div>
      </div>
    </div><!--/.col-->
    <div class="col-sm-6 col-md-4">
      <div class="card">
        <div class="card-header">
            <i class="cui-cog icons font-2xl"></i>Phylogenetic Inference
        </div>
        <div class="card-body">
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
        </div>
      </div>
    </div><!--/.col-->
    <div class="col-sm-6 col-md-4">
      <div class="card">
        <div class="card-header">
            <i class="cui-graph icons font-2xl"></i> Tree Visualization 
        </div>
        <div class="card-body">
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
        </div>
      </div>
    
  </div>
</div>